kind: ConfigMap
apiVersion: v1
metadata:
  name: kafka-metrics
  namespace: {{ .Values.namespace }}
  labels:
    app: strimzi
data:
  kafka-metrics-config.yml: |
    {{ .Values.kafka.metrics.rules | nindent 4 }}